.calculatorcontainer{
    width: 100 vw;
    height : 100 vh;
    display:flex;
    justify-content:center;
    align-items: center;

}
.calculator{
   
    height:350px;
    width:180px;
}
.cl-btn{
    border: 1px solid;
    text-align: center;
    cursor: pointer;
}
.cl-btn:hover{
    background-color: yellow;
}